<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./js/vue.js"></script>
  <script src="./js/heic2any.min.js"></script>
  <script type="text/javascript">
    //回调函数
    function train(data) {
      window.list = data
    }
  </script>
  <script src="./js/data.json"></script>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/blog.css">
</head>

<body>
  <div id="app">
    <nav v-show="showNav">
      <a v-for="(x,y) in list" :key="y" :href="'#'+x.date">{{x.date}}</a>
    </nav>
    <main>
      <header>
        <img @click="showMenu" class="menu" :src="menuImgURL" alt="" srcset="">
        <h2>{{title}}</h2>
      </header>
      <div class="month">
        <div class="content" v-for="(x,y) in list" :key="y">
          <div class="title" :id="x.date">
            <h2>{{x.date}}</h2>
            <h5>{{x.content}}</h5>
          </div>
          <ul>
            <li v-for="(item,index) in x.children" :key="index" @click="detailFn(item,index)">
              <p class="content" :title="item.content">{{item.content}}</p>
              <div class="img-box" v-if="item.type==='img'">
                <p class="date">{{item.date}}</p>
                <span v-if="item.imgs.length>1">+{{item.imgs.length}}</span>
                <div class="image-content" :style="'grid-template-columns: repeat('+(item.imgs.length > 5 ? 5 : item.imgs.length)+', 1fr);'">
                  <img v-for="img in item.imgs" :key="img" :data-src="img" src="https://img.alicdn.com/tps/i3/T1QYOyXqRaXXaY1rfd-32-32.gif" :onerror="onErrorImg(errorImgSrc)">
                </div>
              </div>
              <div class="img-box" v-if="item.type==='video'">
                <p class="date">{{item.date}}</p>
                <span v-if="item.videos.length>1">+{{item.videos.length}}</span>
                <video controls muted :poster="videoSrc" :src="item.videos[0]"></video>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </div>
  <script src="./js/blog.js"></script>
  <script>
    const io = new IntersectionObserver(callback);
    function callback(entries) {
      entries.forEach((item) => {
        if (item.isIntersecting) {
          item.target.src = item.target.dataset.src;
          io.unobserve(item.target);
        }
      });
    }

    let imgs = document.querySelectorAll('[data-src]');
    imgs.forEach((item) => {
      io.observe(item);
    });
  </script>
</body>

</html>